{% extends "main/base.html" %}

{% block title%}
About Biker's Portal
{% endblock %}

{% block content %}
	<p>This project has been created as a community center for Motorcycle riders.<br>This website will help you plan your next ride, help you track your bike's health with frequent alerts and notifications and <br>assist in your everlong quest to find the gear and accessories that you need to customize your look on the road.<br>Lookup the weather and traffic congestions while planning your routes before you set off.<br>We hope that you will use this service as an aid on your next ride and when you do,</p>
	<p>Remember to wear a Helmet & ride Safe</p>
{% endblock %}